<template name="exampleApp3_template2">
    Example not tabbed application
</template>

<template name='_example_page1'>
    Page 1
</template>
<template name='_example_page2'>
    Page 2
</template>
<template name='_example_page3'>
    Page 3
</template>
<template name='_example_page4'>
    Page 4
</template>
<template name='_example_page5'>
    Page 5
</template>
<template name='_example_page6'>
    Page 6
</template>
<template name='_example_page7'>
    Page 7
</template>
<template name='_example_page8'>
    Page 8
</template>
